{# ``base.html`` is the template all our other templates derive from #}
{%- extends "bootstrap/base.html" %}

{# We set a default title for app here #}
{% block title %}Pet Finder{% endblock %}


{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}
{{super()}}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{%- endblock %}

{# Adding our own CSS files is also done here. #}
{% block styles -%}
    {{super()}}  {# call super to use bootstrasps premade css sheets #}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='css/template.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">

{% endblock %}

{# Finally, round things out with navigation #}
{#navbar#}
{% block navbar -%}
{{nav.top.render()}}
{% endblock %}
