{% extends 'base.html' %}

{% block content %}
<body>
	
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
					<div class="preview-pic tab-content">
					  <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">pet name</h3>
						
						<p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
{% endblock %}