{# This simple template derives from ``base.html`` #}
{%- extends "base.html" %}

{% block content %}
  
    <div class="jumbotron">
      <img src="static/images/projectlogo.png" class="center-block" width="500" height="200">
      <br>
      <p class="center text-center">Looking for a companion?</p>
      <p class="center text-center">Search over a thousand animals!</p>
      <p class="center text-center">Search today!</p>
      <form action="/pets" id="searchform" method="POST">
          <div class="input-lg">
              <input id="searchbox" type="text" class="center-block" name="searchbox" placeholder="Search for animal type..">
          </div>
          <br>
          <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
      </form>
    </div>
    <br><br>
    {% block footer %}
<div class="footer">
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <h6 class="mb-1">Authors: Michael Avalos-Garcia, Zack Hutchinson, Ashleigh Adams, Tessa Torosco</h6>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/otterMikeAG/CST205_Project" class="btn btn-outline-black btn-rounded">
              <img class="rounded mx-auto d-block" src="static/images/gitlogo.png" width="30" height="30">
          </a>
        </li>
    </ul>
    <div class="footer-copyright text-center py-3">© 2019 Educational Purposes Only:
        <img class="rounded mx-auto d-block" src="static/images/csumblogo.png" width="30" height="30">
    </div>
</div>
{% endblock %}
{%- endblock %}


