{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{% block content %}
  
    <div class="jumbotron">
      <img src="static/images/projectlogo.png" class="center-block" width="500" height="200">
      <br>
      <p class="center text-center">Looking for a companion?</p>
      <p class="center text-center">Search over a thousand animals!</p>
      <p class="center text-center">Search today!</p>
      <form action="/pets" id="searchform" method="POST">
          <div class="input-lg">
              <input id="searchbox" type="text" class="center-block" name="searchbox" placeholder="Search for animal type..">
          </div>
          <br>
          <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
      </form>
    </div>
    <br><br>
{%- endblock %}


