{% extends 'base.html' %}

{% block content %}
<!-- pets -->
<div class="text-center alert-dismissible">
    {% if pets_type %}
    <h1>You searched for {{pets_type}}s</h1>
    {% else %}
    <h1>Cats</h1>
    {% endif %}
</div>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Adopt These Pets!</h5>
        <div class="row">
            <!-- pet (name, age, gender, breed) -->
            {% for pets in test_pets %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <!--checks if there are photos for the pets and renders them if there are-->
                                    {% if pets.photos %}
                                    <p><img class="pets img-fluid" src={{pets.photos[0].large}} alt="card image"></p>
                                    {% else %}
                                    <!--if not then render this generic picture-->
                                    <p><img class="pets img-fluid" src="static/images/noimageholder.jpg" height="50" width="50" alt="card image"></p>
                                    {% endif %}
                                    <!--gets page name & age-->
                                    <h4 class="card-title">{{pets.name}}</h4>
                                    <p class="card-text">{{pets.age}}</p>
                                    {% if pets.breeds.primary %}
                                    <!--if there is a primary breed, then select that one and render it otherwise don't render anything-->
                                    <p class="card-text">{{pets.breeds.primary}}</p>
                                    {% endif %}
                                    <!--if there is a gender for the pet, render it, if not then don't render anything-->
                                    <p class="card-text">{{pets.gender}}</p>
                                    <!--this form was made to get information on the pet that was clicked and send it to /details-->
                                    <form action="/details" name="pet_details_form" method="POST">
                                        <input type="hidden" name="animal_id" value={{pets.id}}>
                                        <input type="hidden" name="animal_name"value={{pets.name}}>
                                        {% if pets.photos %}
                                        <input type="hidden" name="animal_photo"value={{pets.photos[0].large}}>
                                        {% else %}
                                        <input type="hidden" name="animal_photo"value="static/images/noimageholder.jpg">
                                        {% endif %}
                                        {% if pets.description %}
                                        <input type="hidden" name="animal_description" value="'{{pets.description}}'" maxlength="300">
                                        {% else %}
                                        <input type="hidden" name="animal_description" value="No description Available">
                                        {% endif %}
                                        {% if pets.contact.email %}
                                        <input type="hidden" name="animal_contact" value={{pets.contact.email}}>
                                        {% else %}
                                        <input type="hidden" name="animal_contact" value="No contact information Available">
                                        {% endif %}
                                        <button name="btn-details" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- ./pet1-->
        </div>
    </div>
</section>
<!-- ./pets -->
{% endblock %}
